[submodule "sales-dash-web"]
	path = sales-dash-web
	url = https://github.com/C0demain/sales-dash-web
[submodule "sales-dash-backend"]
	path = sales-dash-backend
	url = https://github.com/C0demain/sales-dash-backend